<div class="jumbotron text-center">
  <h1 class="display-4">Trail Events</h1>
  <p class="lead bold">Le site fait et pour les traileurs passionnés, partout en France.</p>
  <hr class="my-4">
  <p class=" bold">Envie de partager un spot ou de créer un Event, c'est par ici.</p>
  <%= link_to"Créer Events", new_event_path, class: "btn btn-success btn-lg " %>
</div>
</br>