<html>
  <head>
    <title>Edit Event  <%= Event.find(params[:id]).title %></title>
  </head>
  <body>
  <div class="card-header text-center">
  Edit Event <%= Event.find(params[:id]).title %>
  </div>
   </br>
   
  </br>
  </body>
</html>