<footer class="page-footer font-small mdb-color lighten-3 pt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">Trail Events</h5>
        <p>Trails Events a était créé pour et avec les traileurs de la France entière.</p>
        <p>L'objectif est de proposer et de paratager des moments autour d'une passion qui nous rassemble.</p>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!">Events</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">Qui sommes nous?</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">Galerie photo</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">Galerie vidéo</a>
            </p>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1 text-left">
        <h5 class="font-weight-bold text-uppercase mb-4">Addresse</h5>
        <ul class="list-unstyled">
          <li>
            <p>
              <i class=" mr-3"></i> <i class="fas fa-home"></i> Rennes, 35000, FR</p>
          </li>
          <li>
            <p>
              <i class=" mr-3"></i> <i class="fas fa-at"></i> info@trail-events.com</p>
          </li>
          <li>
            <p>
              <i class=" mr-3"></i> <i class="fas fa-phone"></i> + 02 512 548 69</p>
          </li>
          <li>
            <p>
              <i class=" mr-3"></i> <i class="fas fa-mobile"></i> + 06 234 567 89</p>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
        <h5 class="font-weight-bold text-uppercase mb-4">SUIVEZ NOUS</h5>
        <a type="button" href="https://www.facebook.com/" class="btn-floating ">
          <i class="fab fa-facebook fa-4x"></i>
        </a>
        <a type="button" href="https://twitter.com/?lang=en" class="btn-floating ">
          <i class="fab fa-twitter fa-4x"></i>
        </a>
        <a type="button" href="https://www.instagram.com/" class="btn-floating ">
          <i class="fab fa-instagram fa-4x"></i>
        </a>
        <a type="button" href="https://www.pinterest.com/" class="btn-floating ">
          <i class="fab fa-pinterest fa-4x"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="text-center py-3">© 2020 Copyright:
    <a href="https://github.com/BearCub29"> Bearcub29 </a>
  </div>
</footer> 